RewriteEngine On

# If the request is for a file and it exists, do nothing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite /file to /file.php
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]


